<nav>
  <ul>
    <li><a routerLink="/exercice/bindings">Bindings</a></li>
    <li><a routerLink="/exercice/pipes">Pipes</a></li>
    <li><a routerLink="/exercice/directives">Directives</a></li>
    <li><a routerLink="/exercice/input-output">Input - Output</a></li>
    <li><a routerLink="/exercice/juste-prix">Juste Prix</a></li>
    <li><a routerLink="/exercice/forms">Formulaires</a></li>
    <li><a routerLink="/exercice/securite">Securite</a></li>


  </ul>
</nav>

<router-outlet></router-outlet>
